@charset "UTF-8";

body {
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
header > h1{
    color: white;
    font-variant: small-caps;
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
}

header > p {
    color: rgb(240, 34, 34);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
}

a:hover {
    color: rgb(61, 59, 199); 
    text-decoration: underline;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family:cursive;
    font-size: x-large;
    font-style: oblique;    
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    background-color: rgba(55, 52, 52, 0.321);
    width: 330px;
    padding-left: 10px;
    border: 10px
    
}

.normal {
    margin-left: 50px ;
}

.imagem {
    background-attachment: fixed;
    background-size: cover;
    padding-left: 50px;
    border-radius: 3%;
    text-shadow: 1px 1px 0px black ;
}

#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    color: white;
    font-size:x-large;
}

#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    font-size: x-large;
    color: white;
    
}

footer {
    color: rgb(240, 34, 34);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    padding: 10px;

}


